<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
			integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
			crossorigin="anonymous"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Dosis"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="css/main.css" />
		<title>About Me | Unsubstantiated Script</title>
	</head>

	<body>
		<!-- Header -->
		<header id="header-inner" class="sub-head">
			<div class="container">
				<nav
					class="navbar navbar-expand-lg navbar-dark bg-light px-0"
					id="main-nav"
				>
					<a class="navbar-brand" id="logo" href="index.html"
						>Unsubstantiated Script</a
					>
					<button
						class="navbar-toggler"
						type="button"
						data-toggle="collapse"
						data-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent"
						aria-expanded="false"
						aria-label="Toggle navigation"
					>
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item active">
								<a class="nav-link" href="home.html">Home</a>
							</li>
							<li class="nav-item active">
								<a class="nav-link" href="#">About Me</a>
							</li>
							<li class="nav-item active">
								<a class="nav-link" href="portfolio.html">Portfolio</a>
							</li>
							<li class="nav-item active">
								<a class="nav-link" href="contact-me.html">Contact Me </a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</header>

		<main>
			<!-- Section A: Info -->
			<section id="about-a" class="text-center py-3 container">
				<section class="row">
					<div class="col">
						<h2 class="section-title">About Me</h2>
						<div class="bottom-line"></div>
						<p class="lead">
							Let me tell you a little about myself and what I do...
						</p>
					</div>
				</section>

				<section class="about-info row">
					<div class="col-12 col-lg-5 my-lg-auto mb-4">
						<img src="img/about.jpg" alt="Bio Image" class="bio-image" />
					</div>
					<div class="col-12 col-lg-7">
						<article class="bio bg-light">
							<h4>2018-Current: Freelance Web and App Developer</h4>
							<p>
								Developing skills in Adobe Creative Cloud <br />
								HTML5, CSS3, SASS, Materialize, Bootstrap, JavaScript, JSX,
								React, Node.js, PHP, Kotlin, and Swift...plus more to come!
							</p>
							<br />
							<h4>2013-2020: United Arab Emirates University and IELTS</h4>
							<p>
								English as a Second Language Administrator, Curriculum design
								specialist, and Professional Examination Interviewer
								<br />
								Curriculum design, software training, Wordpress site
								development, iBook and other digital textbook creation, graphics
								design and professional written examinations and speech
								interviews.
							</p>
							<br />
							<h4>2011-2013: Abu Dhabi Education Council</h4>
							<p>
								English as a Second Language Instructor and Curriculum design
								specialist
								<br />
								Curriculum design, software training, Blackberry forum creation,
								digital curriculum creation, graphics design and professional
								written examinations.
							</p>
							<a
								href="https://drive.google.com/file/d/1mntwGg_VT14wpWgBL8BTicr9rNjupFkh/view?usp=sharing"
								class="btn-light my-3 link-button"
								target="_blank"
							>
								View My Full Resume
							</a>
						</article>
					</div>
				</section>

				<section class="row mt-3">
					<div class="award-1 col-12 col-md-4 justify-content-center">
						<a
							href="https://scc.spokane.edu/What-to-Study/STEM/Software-Development"
							target="_blank"
							><i class="fas fa-award fa-3x"></i
						></a>
						<h3>Spokane Community College</h3>
						<p>CIS Software Development Program</p>
					</div>
					<div class="award-2 col-12 col-md-4 justify-content-center">
						<a
							href="https://www.nucamp.co/bootcamp-overview/full-stack-web-mobile-development"
							target="_blank"
							><i class="fas fa-award fa-3x"></i
						></a>
						<h3>NuCamp</h3>
						<p>Full Stack and Mobile Developer Program</p>
					</div>
					<div class="award-3 col-12 col-md-4 justify-content-center">
						<a href="https://www.udemy.com/" target="_blank"
							><i class="fas fa-award fa-3x"></i
						></a>
						<h3>Udemy</h3>
						<p>Full Stack Developer and Graphics Design Courses</p>
					</div>
				</section>
			</section>

			<!-- Section B: Progress Bars -->
			<section id="about-b" class="bg-dark py-4">
				<div class="container">
					<h2 class="section-title">Technical Skills</h2>
					<div class="bottom-line"></div>

					<h4>
						<a
							href="https://unsubstantiatedscript.wordpress.com/"
							target="_blank"
							class="skill-set"
							>Wordpress:</a
						>
					</h4>
					<div class="progress">
						<div style="width: 90%"></div>
					</div>
					<h4>
						<a
							href="https://www.udemy.com/course/graphic-design-masterclass-everything-you-need-to-know/"
							target="_blank"
							class="skill-set"
							>Adobe Creative Cloud:</a
						>
					</h4>
					<div class="progress">
						<div style="width: 80%"></div>
					</div>
					<h4>
						<a
							href="https://www.udemy.com/course/modern-html-css-from-the-beginning/"
							target="_blank"
							class="skill-set"
							>HTML5 and CSS3:</a
						>
					</h4>
					<div class="progress">
						<div style="width: 90%"></div>
					</div>
					<h4>
						<a
							href="https://www.udemy.com/course/modern-javascript-from-the-beginning/"
							target="_blank"
							class="skill-set"
							>JavaScript:</a
						>
					</h4>
					<div class="progress">
						<div style="width: 85%"></div>
					</div>
					<h4>
						<a
							href="https://www.udemy.com/course/modern-react-front-to-back/"
							target="_blank"
							class="skill-set"
							>React:</a
						>
					</h4>
					<div class="progress">
						<div style="width: 65%"></div>
					</div>
					<h4>
						<a
							href="https://www.udemy.com/course/the-complete-nodejs-developer-course-2/"
							target="_blank"
							class="skill-set"
							>Node.js:</a
						>
					</h4>
					<div class="progress">
						<div style="width: 30%"></div>
					</div>
				</div>
			</section>

			<!-- Section C: Testimonials -->
			<section id="about-d" class="py-4">
				<div class="container">
					<section>
						<h2 class="section-title">Testimonials</h2>
						<div class="bottom-line"></div>
						<p class="lead text-center">
							Take a look at what they say about me...
						</p>
					</section>
					<div class="testimonials row">
						<div class="col-12 col-md-6 col-lg-4 mb-4">
							<p class="reference-letter">
								<a
									href="https://drive.google.com/file/d/1WVckLHwkfuLEi60j6rSQmEfyuUu5KokZ/view?usp=sharing"
									target="_blank"
								>
									"Justin is able to adapt quickly to differing project
									assignments due to changing organizational needs. His
									positivity, excellent written and verbal communication skills,
									as well as his dedicated work ethic make him a great asset to
									any organization.""
								</a>
							</p>
							<ul>
								<li>
									<img
										src="img/testimonials//person2.jpg"
										alt="Glynda Stiner"
									/>
								</li>
								<li>Glynda Stiner, U.S.A.</li>
							</ul>
						</div>
						<div class="col-12 col-md-6 col-lg-4 mb-4">
							<p class="reference-letter">
								<a
									href="https://drive.google.com/file/d/1l0uTnTLGLGWlHsUmzBzGxXCwF9hFNbck/view?usp=sharing"
									target="_blank"
								>
									"Fundamentally, Justin demonstrated great ability to work
									under pressure and meet tight deadlines when our course was
									unexpectedly reduced in contact hours, requiring an immediate
									rewrite and redesign of both curriculum, materials and
									assessment. Without Justin’s considerable technical expertise,
									this task may well have been insurmountable."</a
								>
							</p>
							<ul>
								<li>
									<img
										src="img/testimonials//person3.jpg"
										alt="David Wallace"
									/>
								</li>
								<li>David Wallace, New Zealand</li>
							</ul>
						</div>
						<div class="col-12 col-md-6 col-lg-4 mb-4">
							<p class="reference-letter">
								<a
									href="https://drive.google.com/file/d/1uU5bMNc5wzcwqak60Z1-rCS3qLmERp09/view?usp=sharing"
									target="_blank"
									>"Justin has excellent interpersonal skills and is accustomed
									to working in a dynamic multicultural environment...he is
									always flexible, cooperative, energetic and enthusiastic and
									possesses creative ideas."</a
								>
							</p>
							<ul>
								<li>
									<img src="img/testimonials//person4.jpg" alt="Ann Akin" />
								</li>
								<li>Ann Akin, U.K.</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
		</main>

		<!-- Footer -->
		<!-- Footer -->
		<footer id="main-footer">
			<div class="footer-content container">
				<p class="mt-3">
					Copyright &copy; 2020
					<br />
					Justin Fulton and unsubstantiatedScript
					<br />
					All Rights Reserved
				</p>
				<!-- Need to setup my media accounts -->
				<div class="social">
					<a
						href="https://github.com/unsubstantiated-Script?tab=repositories"
						class="fab fa-github"
						target="_blank"
					></a>
					<a
						href="https://www.linkedin.com/in/justin-fulton-b89168b4/"
						class="fab fa-linkedin"
						target="_blank"
					></a>
					<a
						class="fab fa-codepen"
						href="https://codepen.io/collection/DdLGLP"
						target="_blank"
					></a>
				</div>
			</div>
		</footer>

		<script
			src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
			integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
			integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
			crossorigin="anonymous"
		></script>
	</body>
</html>
