<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head') %>
	</head>

	<body>
		<header id="header-home">
			<div class="overlay"></div>
			<div class="container">
				<!-- I chose to avoid the navbar toggler due to the chaos it was causing with my design. I need to do an overlay in the future. -->
				<%- include('./partials/nav-bar') %>
				<section class="header-content">
					<h1>
						I Am Justin The
						<span
							class="txt-type"
							data-wait="3000"
							data-words='["UI/UX Designer", "Full Stack Developer", "DB Denizen"]'
						></span>
					</h1>
					<blockquote class="lead">
						A Jack of all trades, but master of none is oftentimes better than a
						master of one.
					</blockquote>
					<a href="/portfolio" class="btn-light link-button">View My Work</a>
				</section>
			</div>
		</header>

		<main>
			<!-- Section A: Specialties -->
			<section id="home-a" class="text-center py-4">
				<div class="container">
					<h2 class="section-title">I Am Competent In</h2>
					<div class="bottom-line"></div>
					<!-- Saving this for later or might remove -->
					<!-- <p class="lead">
					Photography and Graphic Design as well as creating mobile first full
					stack web applications.
				</p> -->
					<div class="specials row">
						<div class="col-12 col-md-6 col-lg-3 mt-3">
							<i class="fas fa-file-alt fa-2x"></i>
							<h3 class="my-2">Concepting</h3>
							<p>
								This is where the vision begins. The design starts through
								meaningful planning sessions tendered by clear objectives and
								mile posts.
							</p>
						</div>
						<div class="col-12 col-md-6 col-lg-3 mt-3">
							<i class="fas fa-desktop fa-2x"></i>
							<h3 class="my-2">UI/UX</h3>
							<p>
								Creation is further refined with Graphics and Logos created in
								Illustrator and Wireframes and High Quality Mockups in Xd.
							</p>
						</div>
						<div class="col-12 col-md-6 col-lg-3 mt-3">
							<i class="fas fa-object-ungroup fa-2x"></i>
							<h3 class="my-2">Visual Design</h3>
							<p>
								The front end comes to life utilizing Javascript, React,
								Bootstrap, Sass, Tailwind, and Materialize. Mobile Apps created
								with Kotlin and React Native.
							</p>
						</div>
						<div class="col-12 col-md-6 col-lg-3 mt-3">
							<i class="fas fa-thumbs-up fa-2x"></i>
							<h3 class="my-2">Interaction</h3>
							<p>
								The backend runs seamlessly using the latest in Node.js, PHP,
								Redux, and, MongoDB, and SQL.
							</p>
						</div>
					</div>
				</div>
			</section>

			<!-- Section B: Stats -->
			<section id="home-b" class="text-center py-2">
				<div class="container-fluid mb-3">
					<div class="stats row">
						<div class="col-12 col-md-3">
							<ul>
								<li><i class="fas fa-users fa-3x"></i></li>
								<li class="stats-title">Clients</li>
								<li class="stats-number">4</li>
							</ul>
						</div>
						<div class="col-12 col-md-3">
							<ul>
								<li><i class="fas fa-award fa-3x"></i></li>
								<li class="stats-title">Technologies</li>
								<li class="stats-number">10+</li>
							</ul>
						</div>
						<div class="col-12 col-md-3">
							<ul>
								<li><i class="fas fa-hourglass-start fa-3x"></i></li>
								<li class="stats-title">Hours Worked</li>
								<li class="stats-number">1200</li>
							</ul>
						</div>
						<div class="col-12 col-md-3">
							<ul>
								<li><i class="fas fa-code-branch fa-3x"></i></li>
								<li class="stats-title">Projects Completed</li>
								<li class="stats-number">65</li>
							</ul>
						</div>
					</div>
				</div>
			</section>

			<!-- Section C: Process -->
			<section id="home-c" class="text-center py-2">
				<div class="container">
					<h2 class="section-title">My Creative Process</h2>
					<div class="bottom-line"></div>
					<p class="lead">
						All of my UI/UX and design projects are based off of a practiced
						formula to get the result that I am looking for
					</p>
					<div class="process row">
						<div class="col-12 col-md-6 col-lg-3">
							<i class="fas fa-file-alt fa-4x process-icon my-2">
								<div class="process-step">1</div>
							</i>
							<h3 class="my-2">Discuss The Project</h3>
							<p>
								The client's priorities are #1. The initial discussion
								facilitates key requests and streamlines those into a workable
								project that is efficient and deadline conscious.
							</p>
						</div>
						<div class="col-12 col-md-6 col-lg-3">
							<i class="fas fa-desktop fa-4x process-icon my-2">
								<div class="process-step">2</div>
							</i>
							<h3 class="my-2">Brainstorming The Concept</h3>
							<p>
								The true eureka moments where your dreams start coming to life
								in interactive proof of concepts.
							</p>
						</div>
						<div class="col-12 col-md-6 col-lg-3">
							<i class="fas fa-object-ungroup fa-4x process-icon my-2">
								<div class="process-step">3</div>
							</i>
							<h3 class="my-2">UI/UX Planning</h3>
							<p>
								The methodic process continues here where Xd is utilized to
								draft up interactive wire frames, reviewed, and then refined
								into high quality mockups.
							</p>
						</div>
						<div class="col-12 col-md-6 col-lg-3">
							<i class="fas fa-thumbs-up fa-4x process-icon my-2">
								<div class="process-step">4</div>
							</i>
							<h3 class="my-2">Interaction</h3>
							<p>
								The final product is developed, tested, and finally released
								after the customer is fully satisfied.
							</p>
						</div>
					</div>
				</div>
			</section>
		</main>
		<%- include('./partials/footer') %>
		<script src="/java-script/typewriter.js"></script>
	</body>
</html>
