<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('./partials/head') %>
</head>

<body>
	<header id="header-inner" class="sub-head">
		<div class="container">
			<%- include('./partials/nav-bar') %>
		</div>
	</header>

	<main>

		<!-- Section A: Gallery -->
		<section id="work-a" class="text-center py-3">
			<div class="container">
				<h2 class="section-title">My Work</h2>
				<div class="bottom-line"></div>
				<p class="lead">Check out some of my projects</p>

				<section class="items">
					<div class="item">
						<a href="http://rosieleesteas-com.stackstaging.com/roseleesbeta/index.php" target="_blank">
							<div class="item-image">
								<img src="img/items/item1.png" alt="Rosie Lee's Tea Shop" />
							</div>
							<div class="item-text">
								<div class="item-text-wrap">
									<p class="item-text-category">Xd Design and Development</p>
									<h2 class="item-text-title">Rosie Lee's Tea Shop</h2>
								</div>
							</div>
						</a>
					</div>
					<div class="item">
						<a href="https://kind-spence-a86477.netlify.app/" target="_blank">
							<div class="item-image">
								<img src="img/items/item2.png" alt="NewsGrid" />
							</div>
							<div class="item-text">
								<div class="item-text-wrap">
									<p class="item-text-category">Design and Web Development</p>
									<h2 class="item-text-title">NewsGrid</h2>
								</div>
							</div>
						</a>
					</div>
					<div class="item">
						<a href="https://unsubstantiated-script-portfolio.netlify.app/hotel_website_babalqasr/babindex.html"
							target="_blank">
							<div class="item-image">
								<img src="img/items/item3.png" alt="Bab Al Qasr Resort" />
							</div>
							<div class="item-text">
								<div class="item-text-wrap">
									<p class="item-text-category">Design and Web Development</p>
									<h2 class="item-text-title">Bab Al Qasr Resort</h2>
								</div>
							</div>
						</a>
					</div>
				</section>

				<section class="items">
					<div class="item">
						<a href="https://unsubstantiated-script-portfolio.netlify.app/excelsior_financial/exindex.html"
							target="_blank">
							<div class="item-image">
								<img src="img/items/item4.png" alt="Excelsior Financial" />
							</div>
							<div class="item-text">
								<div class="item-text-wrap">
									<p class="item-text-category">Design and Web Development</p>
									<h2 class="item-text-title">Excelsior Financial</h2>
								</div>
							</div>
						</a>
					</div>
					<div class="item">
						<a href="https://chat-buddy.netlify.app/" target="_blank">
							<div class="item-image">
								<img src="img/items/item5.png" alt="Chat Buddy" />
							</div>
							<div class="item-text">
								<div class="item-text-wrap">
									<p class="item-text-category">Assistive Tech</p>
									<h2 class="item-text-title">Chat Buddy</h2>
								</div>
							</div>
						</a>
					</div>
					<div class="item">
						<a href="https://hangin-around-game.netlify.app/" target="_blank">
							<div class="item-image">
								<img src="img/items/item6.png" alt="Hangman Game" />
							</div>
							<div class="item-text">
								<div class="item-text-wrap">
									<p class="item-text-category">Web Game</p>
									<h2 class="item-text-title">Hangin' Around</h2>
								</div>
							</div>
						</a>
					</div>
				</section>

				<section class="items">
					<div class="item">
						<a href="https://card-flash.netlify.app/"
							target="_blank">
							<div class="item-image">
								<img src="img/items/item7.png" alt="Card Flash" />
							</div>
							<div class="item-text">
								<div class="item-text-wrap">
									<p class="item-text-category">Web Applications</p>
									<h2 class="item-text-title">Card Flash</h2>
								</div>
							</div>
						</a>
					</div>
					<div class="item">
						<a href="https://seat-selector2020.netlify.app/"
							target="_blank">
							<div class="item-image">
								<img src="img/items/item8.png" alt="Seat Selector" />
							</div>
							<div class="item-text">
								<div class="item-text-wrap">
									<p class="item-text-category">Web Applications</p>
									<h2 class="item-text-title">Seat Selector</h2>
								</div>
							</div>
						</a>
					</div>
					<div class="item">
						<a href="https://notefulton.netlify.app/" target="_blank">
							<div class="item-image">
								<img src="img/items/item9.png" alt="Note Taking App" />
							</div>
							<div class="item-text">
								<div class="item-text-wrap">
									<p class="item-text-category">Web Applications</p>
									<h2 class="item-text-title">Note Taking App</h2>
								</div>
							</div>
						</a>
					</div>
				</section>

				<section class="items">
					<div class="item">
						<a href="https://weather-lookup.netlify.app/" target="_blank">
							<div class="item-image">
								<img src="img/items/item10.png" alt="Weather Lookup" />
							</div>
							<div class="item-text">
								<div class="item-text-wrap">
									<p class="item-text-category">API Interactions</p>
									<h2 class="item-text-title">Weather Lookup</h2>
								</div>
							</div>
						</a>
					</div>
					<div class="item">
						<a href="https://clack-master.netlify.app/" target="_blank">
							<div class="item-image">
								<img src="img/items/item11.png" alt="Clack Master" />
							</div>
							<div class="item-text">
								<div class="item-text-wrap">
									<p class="item-text-category">API Interactions</p>
									<h2 class="item-text-title">Clack Master</h2>
								</div>
							</div>
						</a>
					</div>
					<div class="item">
						<a href="https://fuudie.netlify.app/" target="_blank">
							<div class="item-image">
								<img src="img/items/item12.png" alt="Fuudie" />
							</div>
							<div class="item-text">
								<div class="item-text-wrap">
									<p class="item-text-category">API Interactions</p>
									<h2 class="item-text-title">Fuudie</h2>
								</div>
							</div>
						</a>
					</div>
				</section>
			</div>
			</div>
		</section>

	</main>

	<%- include('./partials/footer') %>
</body>

</html>