<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('./partials/head') %>
</head>

<body>
	<header id="header-inner" class="sub-head">
		<div class="container">
			<%- include('./partials/nav-bar') %>
		</div>
	</header>

	<main>

		<!-- Section A: Gallery -->
		<section id="work-a" class="text-center py-3">
			<div class="container mb-5">
				<section class="py-3">
					<p class="lead">Check out some of my projects...</p>

				</section>
				<section class="items">
					<div class="item">

						<div class="item-image">
							<img src="img/items/item13.png" alt="NiteHawk Paintball" />
						</div>
						<div class="item-text">
							<a href="https://nitehawk-tester.netlify.app/" target="_blank">
								<div class="item-text-wrap">
									<p class="item-text-category">Gatsby Ecommerce</p>
									<h2 class="item-text-title">NiteHawk Paintball</h2>
								</div>
							</a>
							<a href="https://github.com/unsubstantiated-Script/nitehawkweb-ecomm-gatsby"
								target="_blank"><i class="fab fa-github fa-2x"></i></a>
						</div>

					</div>
					<div class="item">

						<div class="item-image">
							<img src="img/items/item17.png" alt="Mad Hatter" />
						</div>
						<div class="item-text">
							<a href="https://mad-hatter-demo.netlify.app/" target="_blank">
								<div class="item-text-wrap">
									<p class="item-text-category">Gatsby Ecommerce</p>
									<h2 class="item-text-title">Mad Hatter</h2>
								</div>
							</a>
							<a href="https://github.com/unsubstantiated-Script/gatsby-ecomm" target="_blank"><i
									class="fab fa-github fa-2x"></i></a>
						</div>

					</div>
					<div class="item">

						<div class="item-image">
							<img src="img/items/item20.png" alt="Laravel API" />
						</div>
						<div class="item-text">
							<a href="https://www.bandslist.skriptkeep.com/?sortBy=first_name&direction=ASC"
								target="_blank">
								<div class="item-text-wrap">
									<p class="item-text-category">Laravel CRUD</p>
									<h2 class="item-text-title">Music Band</h2>
									<small>user: testing@gmail.com </small> <br>
									<small>password: testing123</small>
								</div>
							</a>
							<a href="https://github.com/unsubstantiated-Script/music-band-app" target="_blank"><i
									class="fab fa-github fa-2x"></i></a>
						</div>

					</div>
				</section>

				<section class="items">
					<div class="item">
						<div class="item-image">
							<img src="img/items/item4.png" alt="Excelsior Financial" />
						</div>
						<div class="item-text"><a
								href="https://unsubstantiated-script-portfolio.netlify.app/excelsior_financial/exindex.html"
								target="_blank">
								<div class="item-text-wrap">
									<p class="item-text-category">Design and Web Development</p>
									<h2 class="item-text-title">Excelsior Financial</h2>
								</div>
							</a>
							<a href="https://github.com/unsubstantiated-Script/financial_website" target="_blank"><i
									class="fab fa-github fa-2x"></i></a>
						</div>

					</div>
					<div class="item">

						<div class="item-image">
							<img src="img/items/item2.png" alt="NewsGrid" />
						</div>
						<div class="item-text"><a href="https://kind-spence-a86477.netlify.app/" target="_blank">
								<div class="item-text-wrap">
									<p class="item-text-category">Design and Web Development</p>
									<h2 class="item-text-title">NewsGrid</h2>
								</div>
							</a>
							<a href="https://github.com/unsubstantiated-Script/newsgrid" target="_blank"><i
									class="fab fa-github fa-2x"></i></a>
						</div>

					</div>
					<div class="item">

						<div class="item-image">
							<img src="img/items/item3.png" alt="Bab Al Qasr Resort" />
						</div><a
							href="https://unsubstantiated-script-portfolio.netlify.app/hotel_website_babalqasr/babindex.html"
							target="_blank">
							<div class="item-text">
								<div class="item-text-wrap">
									<p class="item-text-category">Design and Web Development</p>
									<h2 class="item-text-title">Bab Al Qasr Resort</h2>
								</div>
						</a> <a href="https://github.com/unsubstantiated-Script/bab_al-bahar_hotel" target="_blank"><i
								class="fab fa-github fa-2x"></i></a>
					</div>


			</div>
		</section>

		<section class="items">
			<div class="item">

				<div class="item-image">
					<img src="img/items/item15.png" alt="Brick Bat Game" />
				</div>
				<div class="item-text"><a href="https://brick-bat.netlify.app/" target="_blank">
						<div class="item-text-wrap">
							<p class="item-text-category">Web Game</p>
							<h2 class="item-text-title">Brick Bat</h2>
						</div>
					</a>
					<a href="https://github.com/unsubstantiated-Script/brick-breaker" target="_blank"><i
							class="fab fa-github fa-2x"></i></a>
				</div>

			</div>
			<div class="item">

				<div class="item-image">
					<img src="img/items/item5.png" alt="Chat Buddy" />
				</div>
				<div class="item-text">
					<a href="https://chat-buddy.netlify.app/" target="_blank">
						<div class="item-text-wrap">
							<p class="item-text-category">Assistive Tech</p>
							<h2 class="item-text-title">Chat Buddy</h2>
						</div>
					</a>
					<a href="https://github.com/unsubstantiated-Script/text-reader" target="_blank"><i
							class="fab fa-github fa-2x"></i></a>
				</div>

			</div>
			<div class="item">

				<div class="item-image">
					<img src="img/items/item6.png" alt="Hangman Game" />
				</div>
				<div class="item-text">
					<a href="https://hangin-around-game.netlify.app/" target="_blank">
						<div class="item-text-wrap">
							<p class="item-text-category">Web Game</p>
							<h2 class="item-text-title">Hangin' Around</h2>
						</div>
					</a>
					<a href="https://github.com/unsubstantiated-Script/hangman_game" target="_blank"><i
							class="fab fa-github fa-2x"></i></a>
				</div>

			</div>
		</section>

		<section class="items">
			<div class="item">

				<div class="item-image">
					<img src="img/items/item16.png" alt="User Words" />
				</div>
				<div class="item-text">
					<a href="https://user-words.netlify.app/" target="_blank">
						<div class="item-text-wrap">
							<p class="item-text-category">Web Game</p>
							<h2 class="item-text-title">User Words</h2>
						</div>
					</a>
					<a href="https://github.com/unsubstantiated-Script/use-your-words" target="_blank"><i
							class="fab fa-github fa-2x"></i></a>
				</div>

			</div>
			<div class="item">

				<div class="item-image">
					<img src="img/items/item18.png" alt="Seat Selector" />
				</div>
				<div class="item-text">
					<a href="https://turn-table.netlify.app/" target="_blank">
						<div class="item-text-wrap">
							<p class="item-text-category">Media Interactions</p>
							<h2 class="item-text-title">Turn Table</h2>
						</div>
					</a>
					<a href="https://github.com/unsubstantiated-Script/turn-table" target="_blank"><i
							class="fab fa-github fa-2x"></i></a>
				</div>

			</div>
			<div class="item">

				<div class="item-image">
					<img src="img/items/item19.png" alt="Lyric Crawler" />
				</div>
				<div class="item-text">
					<a href="https://lyric-crawler.netlify.app/" target="_blank">
						<div class="item-text-wrap">
							<p class="item-text-category">API Interactions</p>
							<h2 class="item-text-title">Lyric Crawler</h2>
						</div>
					</a>
					<a href="https://github.com/unsubstantiated-Script/lyric-crawler" target="_blank"><i
							class="fab fa-github fa-2x"></i></a>
				</div>

			</div>
		</section>
		<section class="items">
			<div class="item">

				<div class="item-image">
					<img src="img/items/item7.png" alt="Card Flash" />
				</div>
				<div class="item-text">
					<a href="https://card-flash.netlify.app/" target="_blank">
						<div class="item-text-wrap">
							<p class="item-text-category">Web Applications</p>
							<h2 class="item-text-title">Card Flash</h2>
						</div>
					</a>
					<a href="https://github.com/unsubstantiated-Script/card-flash" target="_blank"><i
							class="fab fa-github fa-2x"></i></a>
				</div>

			</div>
			<div class="item">

				<div class="item-image">
					<img src="img/items/item8.png" alt="Seat Selector" />
				</div>
				<div class="item-text">
					<a href="https://seat-selector2020.netlify.app/" target="_blank">
						<div class="item-text-wrap">
							<p class="item-text-category">Web Applications</p>
							<h2 class="item-text-title">Seat Selector</h2>
						</div>
					</a>
					<a href="https://github.com/unsubstantiated-Script/movie_seat_selector" target="_blank"><i
							class="fab fa-github fa-2x"></i></a>
				</div>

			</div>
			<div class="item">

				<div class="item-image">
					<img src="img/items/item9.png" alt="Note Taking App" />
				</div>
				<div class="item-text">
					<a href="https://notefulton.netlify.app/" target="_blank">
						<div class="item-text-wrap">
							<p class="item-text-category">Web Applications</p>
							<h2 class="item-text-title">Note Taking App</h2>
						</div>
					</a>
					<a href="https://github.com/unsubstantiated-Script/card-flash" target="_blank"><i
							class="fab fa-github fa-2x"></i></a>
				</div>

			</div>
		</section>

		<section class="items">
			<div class="item">

				<div class="item-image">
					<img src="img/items/item10.png" alt="Weather Lookup" />
				</div>
				<div class="item-text"> <a href="https://weather-lookup.netlify.app/" target="_blank">
						<div class="item-text-wrap">
							<p class="item-text-category">API Interactions</p>
							<h2 class="item-text-title">Weather Lookup</h2>
						</div>
					</a>
					<a href="https://github.com/unsubstantiated-Script/weather-app" target="_blank"><i
							class="fab fa-github fa-2x"></i></a>
				</div>

			</div>
			<div class="item">

				<div class="item-image">
					<img src="img/items/item11.png" alt="Clack Master" />
				</div>
				<div class="item-text">
					<a href="https://clack-master.netlify.app/" target="_blank">
						<div class="item-text-wrap">
							<p class="item-text-category">API Interactions</p>
							<h2 class="item-text-title">Clack Master</h2>
						</div>
					</a>
					<a href="https://github.com/unsubstantiated-Script/clack-master" target="_blank"><i
							class="fab fa-github fa-2x"></i></a>
				</div>

			</div>
			<div class="item">

				<div class="item-image">
					<img src="img/items/item12.png" alt="Fuudie" />
				</div>
				<div class="item-text"><a href="https://fuudie.netlify.app/" target="_blank">
						<div class="item-text-wrap">
							<p class="item-text-category">API Interactions</p>
							<h2 class="item-text-title">Fuudie</h2>
						</div>
					</a>
					<a href="https://github.com/unsubstantiated-Script/meal-finder" target="_blank"><i
							class="fab fa-github fa-2x"></i></a>
				</div>

			</div>
		</section>
		<section class="items">
			<div class="item">
				<a href="https://xd.adobe.com/view/334daea6-f076-4388-bf83-17e89e207afa-661e/" target="_blank">
					<div class="item-image">
						<img src="img/items/item13.png" alt="NiteHawk Xd Design" />
					</div>
					<div class="item-text">
						<div class="item-text-wrap">
							<p class="item-text-category">Xd Design</p>
							<h2 class="item-text-title">NiteHawk</h2>
						</div>
					</div>
				</a>
			</div>
			<div class="item">
				<a href="https://xd.adobe.com/view/fe5a7398-8e5d-45d6-4b7b-209a788a5cbd-886b/" target="_blank">
					<div class="item-image">
						<img src="img/items/item1.png" alt="Rosie Lee's Tea Shop" />
					</div>
					<div class="item-text">
						<div class="item-text-wrap">
							<p class="item-text-category">Xd Design</p>
							<h2 class="item-text-title">Rosie Lee's Tea Shop</h2>
						</div>
					</div>
				</a>
			</div>
			<div class="item">
				<a href="https://xd.adobe.com/view/ec104a99-3511-4866-a408-3a74fbd3c9a5-b943/" target="_blank">
					<div class="item-image">
						<img src="img/items/item14.png" alt="Maynooth Furniture" />
					</div>
					<div class="item-text">
						<div class="item-text-wrap">
							<p class="item-text-category">Xd Design</p>
							<h2 class="item-text-title">Maynooth Furniture</h2>
						</div>
					</div>
				</a>
			</div>
		</section>
		</div>
		</div>
		</section>
	</main>
	<%- include('./partials/footer') %>
</body>

</html>