<!-- Footer -->
<footer id="main-footer" class="mt-auto">
	<div class="footer-content container">
		<div class="row">
			<div class="col-lg-3 text-center text-lg-left">
				<p class="my-3">
					Copyright &copy; 2022
					<br />
					Unsubstantiated Script
					<br />
					All Rights Reserved
				</p>
			</div>
			<div class="col-sm-6 col-lg-3 text-center my-auto">
				<i class="fas fa-envelope fa-2x my-3 "></i>
				<p>unsubstantiated_script@gmail.com</p>
			</div>
			<div class="col-sm-6 col-lg-3 text-center my-auto">
				<i class="fas fa-phone fa-2x my-3"></i>
				<p>(509) 934-8927</p>

			</div>
			<div class="col-lg-3 text-center text-lg-right my-auto">
				<div class="social">
					<a href="https://github.com/unsubstantiated-Script?tab=repositories" class="fab fa-github"
						target="_blank"></a>
					<a href="https://www.linkedin.com/in/justin-fulton-b89168b4/" class="fab fa-linkedin"
						target="_blank"></a>
				</div>
			</div>
		</div>
	</div>
</footer>

<!-- Type Effect Tutorial: https://www.youtube.com/watch?v=POX3dT-pB4E -->

<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>