<!-- Footer -->
<footer id="main-footer">
	<div class="footer-content container">
		<p class="my-3">
			Copyright &copy; 2020
			<br />
			Justin Fulton and unsubstantiatedScript
			<br />
			All Rights Reserved
		</p>
		<!-- Need to setup my media accounts -->
		<div class="social">
			<a
				href="https://github.com/unsubstantiated-Script?tab=repositories"
				class="fab fa-github"
				target="_blank"
			></a>
			<a
				href="https://www.linkedin.com/in/justin-fulton-b89168b4/"
				class="fab fa-linkedin"
				target="_blank"
			></a>
			<a
				class="fab fa-twitter"
				href="https://twitter.com/Skript_Keeper"
				target="_blank"
			></a>
		</div>
	</div>
</footer>

<!-- Type Effect Tutorial: https://www.youtube.com/watch?v=POX3dT-pB4E -->

<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
